
PORT=8080
BODY_LIMIT=5mb
ALLOW_CORS_ORIGIN=*
ALLOW_CORS_METHODS=OPTIONS,GET,POST,PUT,PATCH,DELETE


SMS_PROVIDER_CUSTOMER_ID=
SMS_PROVIDER_API_KEY=
SMS_PROVIDER_ENDPOINT=
SEND_SMS_TIMEOUT=10000

MONGO_URL=mongodb://127.0.0.1/nudger

SMS_PROVIDER_API_KEY=
SMS_PROVIDER_ENDPOINT=
JWT_SECRET=
JWT_EXPIRES_IN=

DB_FIELD_ENCRYPTION_KEY=
DB_FIELD_ENCRYPTION_SALT_KEY=

CRON_TIME_SCHEDULE_REMINDER='* * * * * *'
